@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Extracted Components zur Wiederverwendung und Code-Reduktion...

Extrahierte Components werden via @layer von Tailwind automatisch im Speicher
der tailwind components integriert. Diese Styles werden durch die 
@layer-directive auch "ge-purged" */

@layer components{

    .app {
        @apply flex flex-col w-screen h-screen max-h-screen;
    }

    body{
        @apply bg-green-700
        w-screen h-screen max-h-screen overflow-hidden;
    }

    
    .sectionarea {/*
        position: absolute;
        bottom: 40px; 
        top: 58px; */
        @apply w-screen flex flex-col flex-shrink flex-grow;
    }

    /*.contentarea {
        @apply flex flex-col h-full justify-center;
    }*/
    .navbar {
        @apply flex
        items-center
        justify-start
        lg:justify-between
        flex-nowrap
        p-3
        bg-green-900
        border-b-2 border-black border-opacity-60;
    }

    /*Resizing speziell für das Haiminger Markttage-Logo*/
    .resizeLogo {
        @apply h-8;
    }

    .resize-icon {
        @apply h-5;
    }

    .homecontentcontainer{
        @apply h-full flex flex-col w-full justify-around;
    }

    .kontaktcontentcontainer{
        @apply h-full flex flex-col w-full justify-start;
    }

    /*old contentcontainer
    .contentcontainer {
        @apply h-full flex flex-col justify-items-end lg:flex lg:flex-1 lg:space-x-20 lg:pt-10;
    }*/

    /* Filter für SVG zu weiß: Nur fuer Main-Buttons konfiguriert */
    .filter-white {
        filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(350deg)
                brightness(101%) contrast(104%);
    }
    /*Medium Icon Size - Class für normale Screens*/
    .iconmedium{
        height: 5em;
        width: 3em;
    }
    /*Small Icon Size Class - für sehr kleine Handyscreens    w-full fixed h-10 text-center border-t-2 bottom-0 border-green-400 p-2 bg-gray-800 opacity-80 flex-nowrap text-xs;*/
    .iconsmall{
        height: 3em;
        width: 2em;
    }

    .filter-white-icons {
        filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(350deg)
                brightness(101%) contrast(104%);
    }

    .footer {
       @apply mt-auto p-2 h-8 flex justify-center items-center text-center border-t-2 border-green-400 bg-gray-800 opacity-80 text-xs;
    }
    

    .mobiledropdowntextconfig{
        @apply text-xl text-white ;
    }

    /*------------------------------------------TEXT CONFIGURATION------------------------------------*/

    .titletext{
        @apply
        font-willkommen
        flex-shrink
        mt-5
        pr-2
        pl-2
        mb-4
        flex-grow
        md:mt-5
        text-center;
    }

    .ueberschrift{
        @apply
      text-white
        sm:mb-3
        text-xl
        ssmm:text-2xl
        sm:text-3xl
        md:text-5xl
        lg:text-5xl;
    }

    .logotextstyle{
        @apply   
        hidden
        hmbp:inline-flex
        text-xs
        sm:text-xl
        font-semibold
        text-center
        tracking-tight
    }

}