@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Extracted Components zur Wiederverwendung und Code-Reduktion...

Extrahierte Components werden via @layer von Tailwind automatisch im Speicher
der tailwind components integriert. Diese Styles werden durch die 
@layer-directive auch "ge-purged" */

@layer components{

    .app {
        @apply flex flex-col w-full h-full;
    }

    body{
        /*bg-green-700*/
        @apply
        w-screen h-screen max-h-screen;
    }

    
    .sectionarea {/*
        position: absolute;
        bottom: 40px; 
        top: 58px; */
        @apply flex flex-col flex-shrink flex-grow;
        
    }



    /*.contentarea {
        @apply flex flex-col h-full justify-center;
    }*/
    .navbar {
        @apply flex
        items-center
        justify-start
        lg:justify-between
        flex-nowrap
        p-3
        bg-green-900
        border-b-2 border-black border-opacity-60;
        height: 58px;
        
    }


    /*Resizing speziell für das Haiminger Markttage-Logo*/
    .resizeLogo {
        @apply h-8;
    }

    .resize-icon {
        @apply h-5;
    }

    .homecontentcontainer{
        @apply h-full flex flex-col w-full justify-around bg-green-900;

        background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1)), url("/images/background/applebg.jpg");
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: cover;
        opacity: 90%;

    }

    .homecontentcontainer:after{
        content: " ";
        position: absolute;
        top: 58px;
        left: 0px;
        width: 100%;
        height: calc(100% - 90px);
        height: -moz-calc(100% - 90px);
        height: -webkit-calc(100% - 90px);
        height: -o-calc(100% - 90px);
        z-index: 0;
        background-color: rgba(0, 0, 255,0.1);
    }

    .fotogaleriecontentcontainer{
        @apply h-full flex w-full justify-center items-center; /*flex-col*/
        /*background-image: linear-gradient(to bottom, #16222A, #3A6073);*/
        background-image: url('/images/background/fotogaleriebackground2.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .kontaktcontentcontainer{
        @apply h-full flex flex-col w-full justify-evenly;

        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url("/images/background/mailbox-big.jpg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        opacity: 90%;
        z-index: 0;
    }

    .datenschutzcontentcontainer{
        @apply h-full flex flex-col w-full justify-evenly;

        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url("/images/background/newpageturner2.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        z-index: 0; 
    }

    .philosophiecontentcontainer{
        @apply h-full flex flex-col w-full justify-evenly;

        background: linear-gradient(rgba(60, 39, 0, 1)

        , rgba(25, 16, 0, 0.6)), url("/images/background/buch.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        
        z-index: 0;
    }

    .pagenotfoundcontainer{
        @apply h-full flex flex-col w-full justify-between;

        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url("/images/background/404.jpg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        z-index: 0;
    }

    /*old contentcontainer
    .contentcontainer {
        @apply h-full flex flex-col justify-items-end lg:flex lg:flex-1 lg:space-x-20 lg:pt-10;
    }*/

    /* Filter für SVG zu weiß: Nur fuer Main-Buttons konfiguriert */
    .filter-white {
        filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(350deg)
                brightness(101%) contrast(104%);
    }
    /*Medium Icon Size - Class für normale Screens*/
    .iconmedium{
        height: 5em;
        width: 3em;
    }
    /*Small Icon Size Class - für sehr kleine Handyscreens    w-full fixed h-10 text-center border-t-2 bottom-0 border-green-400 p-2 bg-gray-800 opacity-80 flex-nowrap text-xs;*/
    .iconsmall{
        height: 3em;
        width: 2em;
    }

    .filter-white-icons {
        filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(350deg)
                brightness(101%) contrast(104%);
    }

    .footer {
       @apply mt-auto p-2 h-8 inline-flex flex-nowrap justify-center gap-3 items-center text-center border-t border-white bg-gray-900 w-full;

       z-index: 3000;
    }
    

    .mobiledropdowntextconfig{
        @apply text-xl text-white ;
    }

    /*------------------------------------------TEXT CONFIGURATION------------------------------------*/

    .titletext{
        @apply
        font-willkommen
        flex-shrink
        pt-5
        pr-2
        pl-2
        pb-4
        flex-grow
        text-center;
        z-index: 100;
    }

    .titletextpagenotfound{
        @apply
        font-willkommen
        flex-shrink
        p-5
        flex-grow
        text-center;
        z-index: 100;
    }

    .ueberschrift{
        @apply
      text-white
        sm:mb-3
        text-xl
        ssmm:text-2xl
        sm:text-3xl
        md:text-5xl
        lg:text-5xl;
        z-index: 1003;
    }

    .ueberschriftprodukte{
        @apply
      text-white
        sm:mb-3
        text-xl
        ssmm:text-2xl
        md:text-3xl
        lg:text-5xl;
        z-index: 1003;
    }

    .descriptiontext{
        @apply text-gray-300 text-sm
            ssmm:text-base
            ssm:text-lg
            mt-1
            lg:mt-8
            lg:text-2xl
            font-thin  
    }

    .logotextstyle{
        @apply   
        hidden
        hmbp:inline-flex
        text-xs
        btnbp:text-xl
        font-semibold
        text-center
        tracking-tight
    }

    .buttonshadow{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .customshadow {
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      }

    .produktecardshadow{
        box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.2), -12px 0 8px -4px rgba(0, 0, 0, 0.2);
    }
      
    .customborder {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }

    .textshadow-markant{
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
    }

    .navbg{
        transition: 0.3s;
    }
    
    .navbg:hover {
        @apply bg-green-800 rounded-lg;
        color:#FFFFFF;
    }


}